<section id="contact" class="section padding-v-60">

  <!-- BG Map -->
  <div id="google-map" class="bg-image" data-latitude="50.520697" data-longitude="30.513045" data-style="light"></div>

  <!-- Contact Box -->
  <div class="contact-box bg-secondary dark animated" data-animation="flipInY">
    <h1>Don’t hesitate to <strong>contact me</strong>!</h1>
    <!-- Contact List -->
    <ul class="list-unstyled list-unstyled-icons">
      <li><i class="inline-icon icon-before-and-after text-primary fa fa-map-marker"></i>53B, Heroes of Stalingrad Ave,<br />Obolon district,<br />Kiev 04213, Ukraine</li>
      <li><i class="inline-icon icon-before-and-after text-primary fa fa-comment"></i><a href="#">pointhomefinal@gmail.com</a></li>
      <li><i class="inline-icon icon-before-and-after text-primary fa fa-phone"></i>+38(066) 581 36 </li>
    </ul>
    <a href="#" class="btn btn-primary" data-target="messenger"><span>Use Contact Form</span><i class="ti-email"></i></a>

    {{social-links textClass='margin-t-60' h5Text=true iconClass='icon-circle' tagName=''}}

    <!--<h5>Like me on Facebook</h5>-->
    <!-- FB Like -->
    <!--<div class="fb-like" data-href="http://www.facebook.com/suelopl" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>-->
  </div>

</section>