<section id="start" class="section fullheight bg-secondary dark padding-v-60">

  <!-- BG Image -->
  <div class="bg-image animated infinite zooming opaced-to-3"><img src="img/photos/bg-main.jpg" alt="..."></div>

  <!-- Middle -->
  <div class="container container-wide v-bottom padding-v-80">
    <h1 class="text-lg margin-b-0">Hi! I’m <strong>Vladimir Katansky</strong></h1>
    <h5 class="text-tertiary margin-b-40">experienced Software Engineer / Front-end Expert</h5>
    <span data-target="local-scroll"><a href="#resume" class="btn btn-lg btn-primary"><span>Go to my resume!</span><i class="ti-arrow-down"></i></a></span>
    <a href="https://www.dropbox.com/s/6zqh9rrc1hfte3c/ShortCV.docx?dl=1" class="btn btn-link" target="_blank"><span>Download my CV</span><i class="ti-file"></i></a>
  </div>

</section>