<ul class="nav nav-vertical">
  <li><a href="#start"><span>Start</span></a></li>
  <li><a href="#resume"><span>Resume</span></a></li>
  <li><a href="#portfolio"><span>Portfolio</span></a></li>
  <li><a href="#testimonials"><span>Testimonials</span></a></li>
  <!--<li><a href="#posts"><span>Latest Posts</span></a></li>-->
  <li><a href="#contact"><span>Contact</span></a></li>
</ul>