<section id="testimonials" class="section bg-primary dark padding-v-60">

  <!-- Content -->
  <div class="container container-wide">

    <h6 class="margin-b-50">Testimonials</h6>

    <h1 class="margin-b-0"><strong>4</strong> years of experence - <strong>over 10k</strong> happy clients!</h1>
    <h5 class="text-muted margin-b-60">Look at their opinions!</h5>

    <div class="row padding-lg">

      <div class="col-lg-4 col-sm-6">
        <!-- Testimonial -->
        <div class="testimonial testimonial-dark">
          <div class="testimonial-content font-alt">
            Vladimir has spoiled our little startup. He's now a part of our family and is responsible for helping to build something truly incredible.
            It was a bit of a leap of faith to work with him because funds were limited, as was our technical know-how.
            However, that leap of faith has paid off big dividends. He's thorough, attentive, responsive, and it's obvious that he knows his stuff.
            Because of that, he'll always be a part of our startup family and I hope to continue to work with him for a very long time.
          </div>
          <div class="testimonial-author testimonial-with-photo">
            <div class="testimonial-photo animated" data-animation="zoomIn"><img class="img-circle" src="img/testimonials/david_kitchen.jpg" alt="" /></div>
            <div class="testimonial-author-txt">
              <span class="name">David Kitchen</span>
              <span class="caption text-secondary">FantasyInsiders</span>
            </div>
          </div>
        </div>
        <!-- Testimonial -->
        <div class="testimonial testimonial-dark">
          <div class="testimonial-content font-alt">
            Vladimir started as a junior web developer and has shown a really outstanding progress along the way,
            progressing quickly and showing interest in learning new things and implementing best Web development practices and techniques in our project. I can recommend Vladimir for everyone who is looking to strengthen his web development team.
          </div>
          <div class="testimonial-author testimonial-with-photo">
            <div class="testimonial-photo animated" data-animation="zoomIn"><img class="img-circle" src="img/testimonials/vitaly_kapara.jpg" alt="" /></div>
            <div class="testimonial-author-txt">
              <span class="name">Vitaly Kapara</span>
              <span class="caption text-secondary">Aspose Pty Ltd.</span>
            </div>
          </div>
        </div>

      </div>
      <div class="col-lg-4 col-sm-6">
        <!-- Testimonial -->
        <div class="testimonial testimonial-dark">
          <div class="testimonial-content font-alt">
            I worked with Vladimir on 2 separate projects while at Banckle; Email and Email Campaign.
            Vladimir displayed a high degree of expertise in his approach to development and problem situations.
            He was a key domain expert during investigation stage of preliminary work on an automated testing system, which impressed many
            high level stakeholders, including myself. Vladimir would be an asset to any team, particularly in a leadership role.
            I would be happy to work with him again in the future.
          </div>
          <div class="testimonial-author testimonial-with-photo">
            <div class="testimonial-photo animated" data-animation="zoomIn"><img class="img-circle" src="img/testimonials/paul_black.jpg" alt="" /></div>
            <div class="testimonial-author-txt">
              <span class="name">Paul Black</span>
              <span class="caption text-secondary">Banckle</span>
            </div>
          </div>
        </div>

      </div>
      <div class="col-lg-4 col-sm-6">
        <!-- Testimonial -->
        <div class="testimonial testimonial-dark">
          <div class="testimonial-content font-alt">
            Bravo!
          </div>
          <div class="testimonial-author testimonial-with-photo">
            <div class="testimonial-photo animated" data-animation="zoomIn"><img class="img-circle" src="img/testimonials/adam_read.jpg" alt="" /></div>
            <div class="testimonial-author-txt">
              <span class="name">Adam Read</span>
              <span class="caption text-secondary">Wecudos Inc.</span>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</section>